#content {
	display: flex;
	flex-direction: column;
}

.page-label {
	margin-top: 40px;
}

.add-btn {
	float: right;
	margin-right: 80px;
	margin-bottom: 20px;
}

table {
	position: relative;
	border-collapse: collapse;
}

.table-bound {
    margin-top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
	width: 100%;
    height: 70vh;
}

.table-bound th {
	background: white;
    position: sticky;
    top: 0;
    /* z-index: 1; */
}